<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="BIG5">
	<title>Database Homepage</title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>

<div class="container text-center">
	<div><h1>Welcome to Database</h1></div>  
	<div class="p-2">
		<a class="h2" th:href="@{/customers}">List Customers</a>
	</div>
	<div class="p-2">
		<a class="h2" th:href="@{/customers/new}">Create Customer</a>
	</div>	
	<div class="p-2">
		<a class="h2" th:href="@{/reservations}">List Reservations</a>
	</div>	
	<div class="p-2">
		<a class="h2" th:href="@{/reservations/new}">Create Reservation</a>
	</div>	
</div>

</body>
</html>